# Getting Started

## Installation

```bash
pip install {{ project_slug }}
```

## From source

```bash
git clone https://github.com/{{ github_org }}/{{ project_slug }}.git
cd {{ project_slug }}
just bootstrap
```

## Usage

```python
import {{ project_slug | replace('-','_') }}

# TODO: Add usage examples
```

## Development

See [Contributing](contributing.md) for development setup and workflow.
